{
  "$schema": "https://json.schemastore.org/prettierrc",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 550,
  "singleQuote": false,
  "proseWrap": "never",
  "trailingComma": "es5",
  "semi": true,
  "endOfLine": "lf"
}
